body {
background: rgb(255,87,65);
background: linear-gradient(90deg, rgba(255,87,65,1) 25%, rgba(235,244,17,1) 57%, rgba(233,6,132,1) 96%);}

#size {
display:flex;
    justify-content:center;
    
}
#size img{
    border:#1a1313 solid 2px;
    border-radius:15px;
}
#h1 {
 text-align:center;
  
}

h2 {

    text-align: center;

}

#f {
    font-family:sans-serif;
font-weight:bold;
   text-align:center;
     text-align:justify;
    padding:15px;
    font-size:large;
   
}
